.header {
    background-color: #fff;
    height: 60px;
    width: 100%; 
    /* 不能忘记给宽度，不知道为什么！ */
    position: fixed;
    /* border-bottom: 1px solid  grey; */
    box-shadow: 0 2px 1px #eaebeb;
    z-index: 999;
}

.footer {
    position: relative;
    top: 570px;
    /* box-shadow: 0 -2px 1px #eaebeb; */
}