.side {
    height: 500px;
    position: absolute;
    width: 260px;
    top: 92px;
    right: 50%;
    margin-right: 260px;
}

.el-card__header {
    padding: 10px 20px;
}

.el-input__inner {
    border: none;
}

.text {
    margin-left: 20px;
}

.top {
    margin-top: 18px;
}