.headline {
    /* float: left; */
    position: absolute;
    font-size: 30px;
    top: 50%;
    margin-top: -18px;
    /* 垂直居中 */
    /* margin-left: 30px; */
    z-index: 9999;
}

a:-webkit-any-link {
    color: #006cff;
    text-decoration: none;
}